* {
    max-width: 600px;
    align-items: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #ffffff;
}
img {
    max-width: 150px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 500;
}

h5 {
    color: #006EB6;
    text-align: center;
    font-weight: 200;
    padding: 10px;
}

hr {
    color: #eeeded44;
    font-size: 2px;
}

p {
    line-height: 1.5;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: wider;
}

ol {
    margin: 20px;
    line-height: 1.5;

}

li {
    margin-bottom: 10px;
}
.i {
    padding: 30px;
}

footer {
    text-align: center;
  
}